In [4]:
import sqlite3
from sqlite3 import Error
conn = sqlite3.connect('sqlite_db_pythonsqlite.db')
curs = conn.cursor()

__Q10__ /* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */

In [5]:
query10 = """
        SELECT name, revenue
        FROM (
            SELECT f.name,
                SUM(CASE
                    WHEN b.memid = 0 THEN b.slots * f.guestcost
                    ELSE b.slots * f.membercost
                    END) AS revenue
            FROM Bookings b
            INNER JOIN Facilities f
                ON b.facid = f.facid
            GROUP BY f.name
        ) AS agg WHERE revenue < 1000
        ORDER BY revenue;
        """

rs10 = curs.execute(query10).fetchall()
for r in rs10:
    print(r)

('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

__Q11__ /* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */

In [6]:
query11 = """
        SELECT DISTINCT m.surname || ', ' || m.firstname as member,
            (
                SELECT recs.surname || ', ' || recs.firstname as recommender
                FROM Members recs
                WHERE recs.memid = m.recommendedby
            )
        FROM Members m
        ORDER BY member;
    """

response = curs.execute(query11).fetchall()
for r in response:
    print(r)

('Bader, Florence', 'Stibbons, Ponder')
('Baker, Anne', 'Stibbons, Ponder')
('Baker, Timothy', 'Farrell, Jemima')
('Boothe, Tim', 'Rownam, Tim')
('Butters, Gerald', 'Smith, Darren')
('Coplin, Joan', 'Baker, Timothy')
('Crumpet, Erica', 'Smith, Tracy')
('Dare, Nancy', 'Joplette, Janice')
('Farrell, David', None)
('Farrell, Jemima', None)
('GUEST, GUEST', None)
('Genting, Matthew', 'Butters, Gerald')
('Hunt, John', 'Purview, Millicent')
('Jones, David', 'Joplette, Janice')
('Jones, Douglas', 'Jones, David')
('Joplette, Janice', 'Smith, Darren')
('Mackenzie, Anna', 'Smith, Darren')
('Owen, Charles', 'Smith, Darren')
('Pinker, David', 'Farrell, Jemima')
('Purview, Millicent', 'Smith, Tracy')
('Rownam, Tim', None)
('Rumney, Henrietta', 'Genting, Matthew')
('Sarwin, Ramnaresh', 'Bader, Florence')
('Smith, Darren', None)
('Smith, Jack', 'Smith, Darren')
('Smith, Tracy', None)
('Stibbons, Ponder', 'Tracy, Burton')
('Tracy, Burton', None)
('Tupperware, Hyacinth', None)
('Worthington-Smyth, Henry', 'Smith, Tracy')

__Q12__ /* Q12: Find the facilities with their usage by member, but not guests */

In [7]:
query12 = """
        SELECT f.name, COUNT(*) AS usage
        FROM Facilities f
        LEFT JOIN Bookings b
        ON f.facid = b.facid
        WHERE b.memid > 0
        GROUP BY b.facid;   
    """

response = curs.execute(query12).fetchall()
for r in response:
    print(r)

('Tennis Court 1', 308)
('Tennis Court 2', 276)
('Badminton Court', 344)
('Table Tennis', 385)
('Massage Room 1', 421)
('Massage Room 2', 27)
('Squash Court', 195)
('Snooker Table', 421)
('Pool Table', 783)

__Q13__ /* Q13: Find the facilities usage by month, but not guests */

In [8]:
query13 = """
        SELECT f.name, STRFTIME('%m', b.starttime) AS month, COUNT(*) AS usage
        FROM Facilities f
        LEFT JOIN Bookings b
        ON f.facid = b.facid
        WHERE b.memid > 0
        GROUP BY b.facid, month;
    """

response = curs.execute(query13).fetchall()
for r in response:
    print(r)

('Tennis Court 1', '07', 65)
('Tennis Court 1', '08', 111)
('Tennis Court 1', '09', 132)
('Tennis Court 2', '07', 41)
('Tennis Court 2', '08', 109)
('Tennis Court 2', '09', 126)
('Badminton Court', '07', 51)
('Badminton Court', '08', 132)
('Badminton Court', '09', 161)
('Table Tennis', '07', 48)
('Table Tennis', '08', 143)
('Table Tennis', '09', 194)
('Massage Room 1', '07', 77)
('Massage Room 1', '08', 153)
('Massage Room 1', '09', 191)
('Massage Room 2', '07', 4)
('Massage Room 2', '08', 9)
('Massage Room 2', '09', 14)
('Squash Court', '07', 23)
('Squash Court', '08', 85)
('Squash Court', '09', 87)
('Snooker Table', '07', 68)
('Snooker Table', '08', 154)
('Snooker Table', '09', 199)
('Pool Table', '07', 103)
('Pool Table', '08', 272)
('Pool Table', '09', 408)